<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Form Validation</title>
    </head>
    <body>
        <h1>Login</h1>
        {{if .Error}}
            <p style="color: red">{{.Error}}</p>
        {{end}}
        <form action="/form-validate" method="POST" novalidate>
            <div>
                <p><label>Username:</label></p>
                <p><input type="text" name="username" value="{{.Username}}"></p>
            </div>
            <div>
                <p><label>Password:</label></p>
                <p><input type="password" name="password" value=""></p>
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </body>
</html>